h1 {
    color: red;
    font-size: 40px ;    
    text-decoration: underline;
}

section {
    border-style: solid black;
    border-width: 30px;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
}

p {
    color: blue;
}